@font-face {
    font-family: Mid;
    src: url(./Assets/Font/Mediocrity-Regular.ttf);
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.pagewrapper {
    display: flex;
    height: 100vh;
}

.left {
    width: 75vw;
    padding: 1em;
    background-image: url(/Assets/frame.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right {
    width: 25vw;
    background-color: lightgray;
    padding: 1vw;
}


.funniFont {
    font-family: Mid;
}

.theTextThatDoesNotChange {
    font-size: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h2 {
    font-size: 4rem;
    margin-right: 30px
}

* {
    font-family: mid;
    color: black;


}

#type {
    width: 23vw;
    font-size: 2rem;
    font-weight: bold;
}

#button {
    width: 23vw;
    font-size: 2rem;
    font-weight: bold;
}

#print {
    width: 23vw;
    font-size: 2rem;
    font-weight: bold;
}

#name {
    width: 23vw;
    font-size: 2rem;
    font-weight: bold;
}


h1 {
    margin-bottom: -50px;

}

h3 {
    margin-top: 50px;
    font-size: 10rem;
}

.what {
    display:flex;
}


h4 {
    font-size: 1.5rem;
    margin-right: 600px;
}

@media print {
    .right {
        display: none;
    }
}